body {
background-image: url(../imagenes/fondo/fondo.jpg);	
background-repeat: no-repeat;
background-attachment: scroll;
background-size: cover;
}

h3 {
  padding: 10px;
  text-align: center;
  border-radius: 5px
}
.video-contenedor {
    position: relative;
    padding-bottom: 70%;
    padding-top: 0px;
    height: 0;
    overflow: hidden;
}
 
.video-contenedor iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height:100%;
}